h1 {
  font-size: 56px;
  margin: 25px 0;
}
.wrap {
  padding: 60px;
}
.wrapper {
  font-family: Inter;
  text-align: center;
  background-color: #fff;
  min-height: 100vh;
}
.hero {
  background-color: #fffceb;
  background-image: url("../images/img/backround.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  max-height: 613px;
}
.hero-block {
  height: min-content;
  margin-top: 127px;
}
.hero-block-input {
  width: 100%;
  max-width: 512px;
  height: 48px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}
.hero-block-input input {
  width: 100%;
  border-radius: 100px;
  padding: 15px 25px;
  border: none;
  font-size: 16px;
}
.hero-block-input::after {
  content: "";
  position: relative;
  display: inline-block;
  background: url("../images/icons/search.svg") no-repeat;
  background-size: contain;
  background-position: center;
  font-weight: bold;
  margin: auto 0;
  width: 18px;
  height: 18px;
  right: 34px;
}
.hero .logo img {
  width: 100%;
  height: 100%;
  max-width: 172px;
  max-height: 76px;
}
.main,
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.footer {
  background-color: black;
  color: white;
  padding: 60px;
}
.footer-top {
  display: flex;
  width: 100%;
  /* max-height: 280px; */
}
.footer-item {
  width: 100%;
}
.footer ul {
  width: 100%;
  text-align: left;
  max-height: 228px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  row-gap: 8px;
}
.footer a {
  color: white;
}
.footer-title {
  font-size: 16px;
  text-align: left;
}
.footer-link {
  font-size: 13px;
  text-decoration: none;
}
.footer li {
  list-style: none;
}
.footer-bottom {
  width: 100%;
}
.footer-bottom ul{
  max-height: 160px;
}
.footer-bottom .footer-title {
  text-decoration: none;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 24px 60px;
}
.navigation {
  display: flex;
  gap: 34px;
}
.navLink {
  height: min-content;
  margin: auto 0;
  text-decoration: none;
  color: #000;
}
.header .icon {
  width: 100%;
  height: 100%;
  max-width: 28px;
  max-height: 32px;
  margin: auto 0;
}
.buttons {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
}
.button {
  padding: 12px 24px;
  border-radius: 40px;
  border: 1px solid black;
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 14px;
}
.button.light {
  color: black;
  background-color: white;
}

/* SwiperSlider */
.swiper-block {
  width: 100%;
  text-align: left;
}
.swiper-slide {
  cursor: pointer;
}
.swiper-block h2 {
  text-align: left;
  margin: 28px 0 60px;
}
.swiper-nav {
  display: flex;
  justify-content: space-between;
}
.swiper-nav-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}
.custom-arrow {
  cursor: pointer;
  width: 60px;
  height: 40px;
}
.custom-arrow.disabled {
  cursor: initial;
}
.slide-title {
  font-size: 20px;
  margin-bottom: 8px;
}
.slide-description {
  font-size: 12px;
}
.custom-swiper {
  width: 100%;
  height: max-content;
  margin: auto;
}

.slide-image {
  width: 100%;
  height: 100%;
  max-width: 312px;
  max-height: 197px;
  object-fit: cover;
}

/*-------------------------*/

.tabbed-grid-container {
  width: 100%;
  /* Adjust width as needed */
}

.tabs {
  display: flex;
}

.tabs button {
  padding: 10px 15px;
  border: none;
  background-color: white;
  cursor: pointer;
  font-size: 1rem;
  outline: none;
  border-bottom: 2px solid white;
  color: #767676;
}

.tabs button.active {
  color: #000;
  /* background-color: #fff; */
  border-bottom: 2px solid black; /* Style for the active tab */
}

.tab-content {
  padding-top: 40px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 3 equal columns */
  gap: 15px; /* Spacing between grid items */
}

.grid-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  padding: 15px;
  text-decoration: none;
  color: #333;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  position: relative; /* Needed for absolute positioning of the icon */
  transition: background-color 0.2s ease-in-out; /* Smooth hover transition */
}

.grid-item:hover {
  background-color: #f7f7f7; /* Very light grey on hover */
}

.grid-item h3 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.grid-item p {
  margin-bottom: 0;
  font-size: 0.9rem;
  color: #666;
}

.link-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #999; /* Adjust icon color as needed */
}
